/*
 * Paletee  https://canva.com/colors/color-palettes/the-deep-blue/
 */

$c-main : #0000FF;
$c-secodary : #7EC8E3;
$c-main-child : #000C66;
$c-main-parent : #050A30;


* {
  font-family: 'Roboto' , sans-serif !important;
}

.bg-main {
  background-color: $c-main;
}
.bg-secondary {
  background-color: $c-secodary;
}

.result {
  color: $c-main;
}

.sticky-offset {
  top: 2rem;
}

.no-text-break {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.data-error {
  height: 200px !important;
  padding-bottom: 20px;
  float:left !important;
}

.custom-text-margin {
  margin-top: 11px;
}
